* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
}

/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap');

body {
    font-family: 'Space Grotesk', sans-serif;
}

header {
    max-width: 1280px;
    margin: 0 auto;
    padding: 0 20px;
}

/* Header Start - Mehti */
.container {
    width: 100%;
    padding-top: 30px;
    margin-bottom: 50px;
}


nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 80px;
    margin-bottom: 50px;
}


.logo img {
    height: 35px;
    width: auto;
}

.menu-list ul {
    display: flex;
    align-items: center;
    gap: 30px;
}

.menu-list ul li a {
    color: #000;
    font-size: 18px;
    font-weight: 400;
    transition: 0.3s;
}

.menu-list ul li a:hover {
    color: #555;
}


#btn {
    background-color: white;
    color: #000;
    padding: 15px 30px;
    border-radius: 12px;
    border: 1px solid #000;
    transition: 0.3s ease;
}

#btn:hover {
    background-color: #000;
    color: #fff;
}

/* Hero Section */
.hero-section {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 50px;
    margin-bottom: 60px;
}

.hero-info {
    max-width: 50%;
}

.hero-info h1 {
    font-size: 50px;
    font-weight: 500;
    line-height: 1.2;
    margin-bottom: 25px;
}

.hero-info p {
    font-size: 18px;
    line-height: 1.6;
    margin-bottom: 35px;
    color: #333;
}

.cta-button {
    background-color: #000;
    color: #fff;
    padding: 18px 32px;
    border-radius: 12px;
    font-size: 18px;
    display: inline-block;
    transition: 0.3s;
}

.cta-button:hover {
    background-color: #fff;
    color: #000;
    border: 1px solid #000;
}

.hero-img {
    max-width: 50%;
}

.hero-img img {
    width: 100%;
    height: auto;
}

/* Company Logos  */
.header-footer {
    padding: 20px 0;
}

.company-list {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    flex-wrap: wrap;
}

.company-list img {
    max-height: 40px;
    filter: grayscale(100%);
    opacity: 0.7;
    transition: 0.3s;
}

.company-list img:hover {
    filter: grayscale(0%);
    opacity: 1;
}

/* Header Finish */

/* Main Start */

main {
    max-width: 1280px;
    margin: 0 auto;
    padding: 0 20px;
}

/* Section Services - Mehti */

.services-section {
    padding: 60px 0;
}

.section-header {
    display: flex;
    align-items: center;
    gap: 40px;
    margin-bottom: 80px;
}

.section-title {
    background-color: #B9FF66;
    font-size: 40px;
    font-weight: 500;
    padding: 0 7px;
    border-radius: 7px;
}

.section-desc {
    max-width: 580px;
    font-size: 18px;
    line-height: 1.5;
}

.services-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 40px;
}

.card {
    border: 1px solid #191A23;
    border-radius: 45px;
    padding: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0px 5px 0px #191A23;
    height: 310px;
    transition: 0.3s;
}

.card:hover {
    transform: translateY(-5px);
}

.card-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}

.card-content h3 {
    font-size: 26px;
    font-weight: 500;
    line-height: 1.3;
}

.highlight-green {
    background-color: #B9FF66;
    padding: 0 7px;
    border-radius: 7px;
    color: #000;
}

.highlight-white {
    background-color: #fff;
    padding: 0 7px;
    border-radius: 7px;
    color: #000;
}

.learn-more {
    display: flex;
    align-items: center;
    gap: 15px;
    color: #000;
    font-size: 20px;
}


.icon-arrow {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 41px;
    height: 41px;
    background-color: #191A23;
    color: #B9FF66;
    border-radius: 50%;
    font-style: normal;
    font-size: 20px;
    transform: rotate(-45deg);
}

.card-img img {
    max-height: 170px;
    width: auto;
    object-fit: contain;
}


.card:nth-child(1),
.card:nth-child(4) {
    background-color: #F3F3F3;
}

.card:nth-child(2),
.card:nth-child(5) {
    background-color: #B9FF66;
}

.card:nth-child(3),
.card:nth-child(6) {
    background-color: #191A23;
}

.card:nth-child(3) h3,
.card:nth-child(6) h3 {
    color: #fff;
}

.card:nth-child(3) .learn-more,
.card:nth-child(6) .learn-more {
    color: #fff;
}

.card:nth-child(3) .icon-arrow,
.card:nth-child(6) .icon-arrow {
    background-color: #fff;
    color: #000;
}

/* Finish Section Services */

/* Start Section Happen - Mehti */
.happen-section {
    background: #f3f3f3;
    height: 350px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 45px;
    padding: 50px;
}

.happen-text {
    max-width: 500px;
}

.happen-text h4 {
    font-size: 26px;
    font-weight: 500;
    line-height: 1.3;

}

.happen-text p {
    font-size: 18px;
    line-height: 1.5;
}

.happen-img {
    max-width: 500px;
}

/* Finish Happen Section */

/* Start Case Section - Mehti */
.case-section {
    padding: 60px 0;
}

.case-section-main {
    display: flex;
    justify-content: center;
    width: 100%;
}


.dark-card {
    background-color: #191a23;
    color: #ffffff;
    padding: 60px;
    border-radius: 40px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    box-sizing: border-box;
}


.card-column {
    flex: 1;
    padding: 0 40px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: left;
    border-right: 1px solid rgba(255, 255, 255, 0.3);
}


.card-column:last-child {
    border-right: none;
}

.card-column p {
    font-size: 16px;
    line-height: 1.6;
    margin-top: 0;
    margin-bottom: 30px;
    color: #e0e0e0;
}


.learn-more {
    color: #b9ff66;
    text-decoration: none;
    font-size: 18px;
    display: inline-flex;
    align-items: center;
    font-weight: 500;
    transition: opacity 0.3s;
}

.learn-more:hover {
    opacity: 0.8;
}

/* Finish Case Section */

/*  Start Process Section - Mehti */

.process-section {
    padding: 60px 0;
}

.process-list {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.process-card {
    background-color: #F3F3F3;
    border: 1px solid #191A23;
    border-radius: 45px;
    padding: 30px 60px;
    box-shadow: 0 5px 0 #191A23;
}


.process-card.open {
    background-color: #B9FF66;
}


.card-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-left {
    display: flex;
    align-items: center;
    gap: 25px;
}

.num {
    font-size: 60px;
    font-weight: 500;
}

.title {
    font-size: 30px;
    font-weight: 500;
}


.icon-box {
    width: 58px;
    height: 58px;
    border: 1px solid #191A23;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    background-color: #F3F3F3; 
}


.card-body hr {
    border: none;
    border-top: 1px solid #000;
    margin: 30px 0;
    opacity: 0.2;
}

.card-body p {
    font-size: 18px;
    line-height: 1.6;
}

/*  Finish Process Section  */

